/* Hero.css */
.hero {
  height: calc(100vh - 120px); /* Adjust for Navbar and Footer */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  background: var(--background-color); /* Gradient background */
  position: relative;
  overflow: hidden;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  background: var(--glassmorphism-bg);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  position: relative;
  z-index: 2;
}

.hero-text {
  max-width: 600px;
}

.hero-text .logo {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

.hero-text h2 {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1.25rem;
  color: var(--hover-color);
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: normal;
  color: var(--text-color);
}

.cta-button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: var(--hover-color);
  transform: translateY(-5px);
}

.hero-image img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  .hero-image {
    margin-top: 2rem;
  }
}
