/* ProblemList.css */
.table-container {
  width: 100%;
  overflow-x: auto;
  background: var(--glassmorphism-bg);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  /* padding: 1rem;
  margin-top: 20px; */
}

.problem-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color);
}

.problem-table th,
.problem-table td {
  padding: 1rem;
  border: 1px solid var(--secondary-color);
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.problem-table th {
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-weight: bold;
}

.problem-table td {
  background-color: var(--glassmorphism-bg);
}

.problem-table td a {
  color: var(--hover-color) !important;
  font-weight: 600;
  text-decoration: underline var(--hover-color) solid !important;
}

.problem-table td a:hover {
  text-decoration: underline;
}

.problem-table td.ac {
  background-color: #04be04; /* AC - Green */
}

.problem-table td.wa {
  background-color: #ca1b04; /* WA - Red */
}

.problem-table td.x {
  background-color: #e0e0e0; /* X - Grey */
}

.problem-table tr:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .problem-table th,
  .problem-table td {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
