.form-container {
  background: var(--glassmorphism-bg);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}

.form-container h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 1.25rem;
  color: var(--accent-color);
  text-align: center;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  background: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-group label {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  font-size: 1rem;
  color: var(--text-color);
  transition: all 0.3s ease;
  pointer-events: none;
}

.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label {
  top: -0.5rem;
  left: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.15rem 0.25rem;
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.submitButton {
  background-color: var(--accent-color) !important;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: var(--hover-color) !important;
  transform: translateY(-5px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-container {
    padding: 1rem;
  }

  .form-container h2 {
    font-size: 1.5rem;
  }

  .form-group input {
    font-size: 0.9rem;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .submitButton {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}
